:root {
  --font-size: 14px;
  --font-family-main: 'Roboto', sans-serif;
}

.dark {
  --white: #1a202c;
  --black: #f1f5f9;
  --tertiary-color: #f1f5f9;
  --quaternary-color: #e63946;
  --accent-color: #47b5d9;
  --accent-bg-color: #8ac6de85;
}

.light {
  --white: #f1f5f9;
  --black: #1a202c;
  --tertiary-color: #1a202c;
  --quaternary-color: #e63946;
  --accent-color: #457b9d;
  --accent-bg-color: #457b9d61;
}

html {
  background-color: var(--white);
  color: var(--black);
  font-family: var(--font-family-main);
  /* scroll-snap-type: y proximity; */
  /* scroll-behavior: smooth; */
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

header{
  scroll-snap-align: start;
}

section {
  margin: 4rem 0;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

/* nav styles */
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #ff9776;
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #ff9776;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--accent-color);
  transition: all 0.1s ease-in-out;
}

.nav-links a:hover, a:focus {
  background-color: var(--accent-bg-color);
  transform: scale(1.05);
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}