---
import type { MarkdownInstance } from "astro";
import type { Post } from "../../components/BlogPostCard.astro";
import BlogPostCard from "../../components/BlogPostCard.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

/**
 * This function gets called at build time
 * it generates all the paths for posts
 */
export async function getStaticPaths() {
    // get all posts
    const allPosts: MarkdownInstance<Post>[] =
        await Astro.glob("../posts/*.md");
    // get all unique tags
    const uniqueTags = [
        ...new Set(allPosts.map((post) => post.frontmatter.tags).flat()),
    ];
    // generate paths for each tag
    return uniqueTags.map((tag) => {
        const filteredPosts = allPosts.filter((post) =>
            post.frontmatter.tags.includes(tag),
        );
        return {
            params: { tag },
            props: { posts: filteredPosts },
        };
    });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
    <p>Posts tagged with <b>{tag}</b></p>
    <ul class="flex flex-col gap-2">
        {posts.map((post) => <BlogPostCard {...post} />)}
    </ul>
</BaseLayout>
