---
import BlogPostCard from "../../components/BlogPostCard.astro";
import BlogPostsList from "../../components/BlogPostsList.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
/**
 * This function gets called at build time
 * it generates all the paths for posts
 */
export async function getStaticPaths() {
    // get all posts
    const allPosts = await getCollection("posts");
    // get all unique tags
    const uniqueTags = [
        ...new Set(allPosts.map((post) => post.data.tags).flat()),
    ];
    // generate paths for each tag
    return uniqueTags.map((tag) => {
        const filteredPosts = allPosts.filter((post) =>
            post.data.tags.includes(tag),
        );
        return {
            params: { tag },
            props: { posts: filteredPosts },
        };
    });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---
<BaseLayout pageTitle={tag}>
    <p>Posts tagged with <b>{tag}</b></p>
    <BlogPostsList posts={posts} />
</BaseLayout>
