---
import ContentSection from '../components/ContentSection.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <ContentSection id='1' title="Dummy Section" includeDummy>
    <p>This is the home page of my blog. It's built with Astro and deployed on Vercel.</p>
  </ContentSection>
  <ContentSection id='4' title="Long Section" snapAlign='start' includeDummy>
    <p>This is a LONG section, so i configure the scroll snap to start, as center would crop the top</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore incidunt quaerat nesciunt minus odio hic blanditiis sed ipsam quod reiciendis, fugiat sequi quis explicabo! Porro ratione nesciunt quia repellat sed!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore incidunt quaerat nesciunt minus odio hic blanditiis sed ipsam quod reiciendis, fugiat sequi quis explicabo! Porro ratione nesciunt quia repellat sed!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore incidunt quaerat nesciunt minus odio hic blanditiis sed ipsam quod reiciendis, fugiat sequi quis explicabo! Porro ratione nesciunt quia repellat sed!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore incidunt quaerat nesciunt minus odio hic blanditiis sed ipsam quod reiciendis, fugiat sequi quis explicabo! Porro ratione nesciunt quia repellat sed!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore incidunt quaerat nesciunt minus odio hic blanditiis sed ipsam quod reiciendis, fugiat sequi quis explicabo! Porro ratione nesciunt quia repellat sed!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore incidunt quaerat nesciunt minus odio hic blanditiis sed ipsam quod reiciendis, fugiat sequi quis explicabo! Porro ratione nesciunt quia repellat sed!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore incidunt quaerat nesciunt minus odio hic blanditiis sed ipsam quod reiciendis, fugiat sequi quis explicabo! Porro ratione nesciunt quia repellat sed!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore incidunt quaerat nesciunt minus odio hic blanditiis sed ipsam quod reiciendis, fugiat sequi quis explicabo! Porro ratione nesciunt quia repellat sed!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore incidunt quaerat nesciunt minus odio hic blanditiis sed ipsam quod reiciendis, fugiat sequi quis explicabo! Porro ratione nesciunt quia repellat sed!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore incidunt quaerat nesciunt minus odio hic blanditiis sed ipsam quod reiciendis, fugiat sequi quis explicabo! Porro ratione nesciunt quia repellat sed!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore incidunt quaerat nesciunt minus odio hic blanditiis sed ipsam quod reiciendis, fugiat sequi quis explicabo! Porro ratione nesciunt quia repellat sed!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore incidunt quaerat nesciunt minus odio hic blanditiis sed ipsam quod reiciendis, fugiat sequi quis explicabo! Porro ratione nesciunt quia repellat sed!</p>
  </ContentSection>
  <ContentSection id='5' title="Dummy Section" snapAlign='start' includeDummy>
    <p>This is the home page of my blog. It's built with Astro and deployed on Vercel.</p>
  </ContentSection>
</BaseLayout>