---
import Header from "../components/Header.astro";
import '../styles/global.css'

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Header />
		<main>
			<h1>Welcome to Astro</h1>
			<p>
				Welcome to Astro! This is a simple Astro app with a global CSS file and a
				shared component.
			</p>
		</main>
	</body>
</html>
